.table-style {
  border-collapse: collapse;
  text-align: left;
  margin: 10px 0;
  table-layout: fixed;
  font-size: 1em;
  font-family: sans-serif;
  width: 600px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-style div{
  column-count: 0;
  column-gap:100px;
  column-rule-width:30px;
}
.table-style td.task-cell {
  padding-left:20px; 
  padding-right:50px;
}

.table-style th{
  
    background-color:rgb(116, 194, 195);
    padding: 10px 15px;
    color:black;
}
.table-style td{
    background-color:rgb(255, 255, 255);
    padding: 12px 15px;
    color:black;
}

.table-style th#Timeslot-adj {
  background-color: rgb(116, 194, 195);
  padding: 10px 30px;
  color: black;
  text-align: left; /* Add this line to align the header text to the left */
  padding-right: 30px; /* Adjust this value to control the spacing */
}
.table-style th#task-adj{
  padding-right: 20px;
}
.RemoveButton-css{
  border-radius: 20px;
  padding-right: 4px;
  background-color: rgb(224, 182, 182);
  margin: 2px;
}

.checkTaskButton-css{
  border-radius: 20px;
  padding-left: 6px;
  background-color: rgb(184, 239, 185);
}